nav {
    height: 4rem;
    background: rgba(0, 12, 36, 0.7);
    position: sticky;

}

.container1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
}

.menu a {
    text-decoration: none;
    color: #928A97;
    position: relative;
    font-size: 1.1rem;
}

.menu:hover {
    background-image: url(../images/selectedMenu.png);
    background-position: 0.7rem 0.6rem; 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
}

.menu:hover > a {
    color: #F44336;
    font-weight: 700;
}

