.back {
    color: gray;
}

.contact {
    color: blue
}

.name {
    color: blue;
    font-weight: bold;
}

.numbers {
    font-weight: bold;
}

.content {
    margin-left: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: calc(100vh - 4rem - 5rem);
}

#name {
	font-weight: 800;
	font-size: 2.4rem;
	line-height: 2.7rem;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #000C24;
	text-shadow: 0.5px 0.5px 0 #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
	/* -webkit-text-stroke: 0.5px #fff; */
}

#role {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	text-shadow: 0.5px 0.5px 0 #000C24, -0.5px -0.5px 0 #000C24, 0.5px -0.5px 0 #000C24, -0.5px 0.5px 0 #000C24;
	/* -webkit-text-stroke: 0.5px #000C24; */
}

.logos {
	display: flex;
	gap: 0.5rem
}

.photo {
	position: relative;
	margin-bottom: 9rem;
	/* height: 10rem; */
}

.pic {
	position: absolute;
	top: 2.3rem;
	left: 3.2rem;
}

#bgd {
	height: 10rem;
	z-index: -1;
}

.pic img{
	height: 15rem;
}

.inform {
	text-shadow: 0.5px 0.5px 0 #E5E5E5, -0.5px -0.5px 0 #E5E5E5, 0.5px -0.5px 0 #E5E5E5, -0.5px 0.5px 0 #E5E5E5;
	margin: auto 1rem;
}

.inform h1 {
	margin-bottom: 0.5rem;
}

#bg2 {
	position: absolute;
	right: 0;
	height: 30rem;
	bottom: 10vh;
	z-index: -2;
}