.title {
    color: darkblue;
    font-size: 3.5rem;
    margin-bottom: 0.5rem; 
    margin-top: 0.5rem;
}

h2.title {
    font-size: 2rem;
}

.back {
    color: gray;
}

.contact {
    color: blue
}

.name {
    color: blue;
    font-weight: bold;
}

.numbers {
    font-weight: bold;
}

.presentation {
	margin: 10rem auto;
}

#name {
	font-weight: 800;
	font-size: 38px;
	line-height: 43px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #000C24;
	-webkit-text-stroke: 0.5px #fff;
}

#role {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1.5rem
	;
}

.logos {
	display: flex;
	gap: 1rem
}
